@import 'fonts';
@import 'vars';
@import 'reset';
@import 'global';
@import 'libs';

.lock {
  overflow: hidden;
  position: relative;

  &::after {
    @extend %pseudo;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.header {
  padding: 60px 0;
  font-size: 16px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include r($tablet-2) {
    padding: 40px 0;
  }

  @include r($phone) {
    padding: 14px 0;
  }
}

.menu {
  display: flex;
  align-items: center;
  @extend %rubik-400;
  font-size: 18px;

  &__list {
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 50px;

    @include r($tablet-2) {
      display: none;
    }
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link--active {
    color: $orange;
  }
}

.burger-open {
  width: 44px;
  height: 44px;
  display: none;

  @include r($tablet-2) {
    display: block;
  }
}

.menu-mob {
  height: 100vh;
  width: 300px;
  position: absolute;
  top: 0;
  left: -300px;
  background-color: #fff;
  transition: left 0.3s;
  z-index: 3;
  overflow-y: auto;
  padding-bottom: 70px;

  &__top,
  &__middle {
    padding: 25px 0;
    border-bottom: 1px solid #EEEFF3;
  }


  &__top-box {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__bottum {
    padding-top: 15px;
  }

  &--active {
    left: 0;
  }

  &__item {
    font-size: 18px;
  }
}


.user-nav {
  display: flex;

  @include r($tablet-2) {
    margin-right: 10px;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__num {
    position: absolute;
    left: 28px;
    top: 6px;
    display: block;
    background-color: $orange;
    border-radius: 10px;
    padding: 3px 4px 3px;
    @extend %rubik-400;
    color: $white;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
  }

  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

    & use,
    & use {
      transition: stroke 0.3s;
    }

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:hover {
      background-color: $orange;
    }

    &:hover use {
      stroke: $white;
    }

    &:hover .user-nav__num {
      color: $orange;
      background: $white;
    }

    &:active {
      background-color: $lite-orange;

      use {
        stroke: $dark-blue;
      }
    }
  }

  &__item--cart {
    position: relative;

  }
}

.hero {
  padding: 0;
  padding-bottom: 55px;

  @include r(660) {
    padding-bottom: 20px;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include r($tablet-2) {
      padding: 90px 0;
    }

    @include r($tablet) {
      padding: 60px 0;
    }

    @include r($phone) {
      padding: 25px 0;
    }
  }

  &__content {
    max-width: 450px;

    @include r($tablet-2) {
      max-width: 370px;
    }
  }

  &__title {
    text-transform: uppercase;
    @extend %rubik-500;
    color: $dark-blue;
    font-size: 66px;
    line-height: 130%;
    margin-bottom: 20px;

    @include r($tablet-2) {
      font-size: 55px;
    }

    @include r($tablet) {
      max-width: 260px;
      font-size: 40px;
    }

    span {
      color: $orange;
    }
  }

  &__text {
    margin-bottom: 20px;
    @include line-clamp(5);

    @include r($tablet) {
      font-size: 16px;
    }
  }

  &__link {
    text-decoration: underline;
  }

  &__btn {
    display: inline-block;
    margin-right: 30px;

    &:hover {
      box-shadow: 0 5px 12px rgba(255, 104, 56, 0.2), 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    @include r($phone) {
      margin-right: 25px;
    }
  }

  &__box {
    background-size: contain;
    @extend %background;
    height: 660px;
    max-width: 560px;
    width: 100%;

    @include r($tablet-2) {
      position: absolute;
      z-index: -1;
      opacity: 15%;
      right: 0;
      top: auto;
      bottom: auto;
      background-size: 90%;
    }

    @include r($tablet) {
      max-width: 450px;
    }

    @include r($phone) {
      max-width: 250px;
    }
  }
}

.popular-criteria {
  text-align: center;

  &__title {
    margin-bottom: 60px;

    @include r($tablet) {
      margin-bottom: 40px;
    }

    @include r($phone) {
      margin-bottom: 30px;
    }
  }

  &__btn-list {
    text-align: left;
    display: flex;
    margin-top: -5px;
    margin-bottom: 40px;
    padding-top: 5px;
    padding-bottom: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    @include r($tablet) {
      margin-bottom: 30px;
    }
  }

  &__list-item {
    scroll-snap-align: end;

    &:not(:last-child) {
      margin-right: 20px;

      @include r($tablet) {
        margin-right: 10px;
      }
    }
  }

  &__list-btn {
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 13px 32px;
    background-color: $white;
    box-shadow: 0 0 0 1px $silver-200;
    color: $dark;
    transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;
    font-size: 20px;
    letter-spacing: 0;
    white-space: nowrap;

    @include r($tablet) {
      font-size: 16px;
      padding: 12px 24px;

      svg {
        width: 30px;
        height: 30px;
      }
    }

    @include r($phone) {
      font-size: 14px;
      padding: 11px 13px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    use {
      transition: fill 0.3s;
    }

    svg {
      margin-right: 10px;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      color: $dark;
      background-color: $white;
    }

    &:hover {
      color: $orange;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      background-color: rgba(255, 122, 80, 0.1);
    }

    &:hover use {
      fill: $orange;
    }

    &:active {
      box-shadow: inset 0 -5px 12px rgba(255, 104, 56, 0.2);
      background-color: $white;
      color: $dark;

      use {
        fill: $dark;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 60px;
    margin-top: -5px;

    @include r($desktop) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 5px;
    }

    @include r($desktop) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 10px;
    }

    @include r($tablet-2) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include r($tablet) {
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 70px;
    }

    @include r($phone) {
      grid-template-columns: 1fr 1fr;
      gap: 10px 5px;
    }
  }


  .mixitup-control-active {
    background-color: $orange;
    color: $white;
  }

  .mixitup-control-active use {
    fill: $white;
  }

  &__link {
    text-decoration: underline;
    font-size: 20px;
  }
}

.product-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 15px;
  box-shadow: 0 0 0 1px $silver-200;
  border-radius: 5px;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 0 1px $orange;
  }

  @include r($tablet) {
    padding: 20px 15px;
  }

  &__img {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 140px;
    height: 140px;
  }

  &__name {
    font-size: 15px;
    line-height: 120%;
    margin-bottom: 10px;
    font-weight: normal;
    @include line-clamp(2);
  }

  &__price {
    @extend %text-bold;
    font-size: 15px;
    margin-bottom: 10px;
    width: 100%;
    margin-top: auto;
  }

  &__btn {
    display: block;
    font-size: 14px;
    padding: 7px 16px;
    letter-spacing: normal;
    margin: 0 auto;
  }
}

.features {

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 70px;
    position: relative;

    @include r($tablet-2) {
      display: block;
    }

    @include r($tablet-2) {
      margin: 0;
    }
  }

  &__content {
    max-width: 470px;
    margin-left: auto;

    @include r($tablet) {
      padding-top: 30px;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 30px;
    @include line-clamp(6);

    p {
      line-height: 150%;

      @include r($tablet) {
        font-size: 18px;
      }

      @include r($phone) {
        font-size: 16px;
      }
    }
  }

  &__list {
    margin-bottom: 30px;

    @include r($phone) {
      margin-bottom: 26px;
    }
  }

  &__item {
    padding-left: 65px;
    color: $dark-blue;
    font-size: 24px;
    line-height: 150%;
    position: relative;
    @include line-clamp(2);

    &:not(:last-child) {
      margin-bottom: 20px;

      @include r($phone) {
        margin-bottom: 16px;
      }
    }

    @include r($phone) {
      padding: 3px 0;
      padding-left: 45px;
      font-size: 18px;
    }
  }

  &__item--speed::after,
  &__item--delivery::after,
  &__item--restorant::after {
    @extend %pseudo;
    left: 0;
    top: 0;
    bottom: 0;
    width: 34px;
    height: 34px;
    @extend %background;
  }


  &__item--speed::after {
    background-image: url("../images/sprite.svg#icon-timer");
    filter: invert(69%) sepia(64%) saturate(5629%) hue-rotate(337deg) brightness(101%) contrast(101%);
  }

  &__item--delivery::after {
    background-image: url("../images/sprite.svg#icon-delivery");
    filter: invert(49%) sepia(26%) saturate(4842%) hue-rotate(173deg) brightness(103%) contrast(106%);
  }

  &__item--restorant::after {
    background-image: url("../images/sprite.svg#icon-restorant");
    filter: invert(23%) sepia(88%) saturate(4665%) hue-rotate(350deg) brightness(102%) contrast(103%);
  }

  &__box {
    @extend %background;
    background-size: contain;
    width: 440px;
    height: 585px;

    @include r($desktop) {
      position: absolute;
      z-index: -1;
      opacity: 15%;
      left: 0;
    }

    @include r($tablet) {
      height: 100%;
      max-width: 100%;
    }
  }

  &__btn {
    padding: 13px 32px;
  }
}

.restorant {
  padding-top: 73px;

  @include r($tablet-2) {
    padding-top: 60px;
  }

  &__title {
    text-align: center;
    margin-bottom: 45px;

    @include r($phone) {
      margin-bottom: 25px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include r($tablet-2) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include r($phone) {
      display: none;
    }
  }

  &__box .restorant-card {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
  }

  &__slider {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 auto;
    display: none;

    @include r($phone) {
      display: block;
    }
  }

  & .slick-dots {
    display: flex;
    font-size: 0;
    justify-content: center;
    height: 100%;

    button {
      height: 15px;
      width: 15px;
      background-color: $gray;
      border-radius: 50%;
    }

    li {

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

  }

  & .slick-dots button {
    transition: background-color 0.3s, box-shadow 0.3s;

    &:active {
      background-color: #FFAE94;
    }

    &:hover {
      background-color: #FFF2ED;
      box-shadow: 0 0 0 2px rgba(255, 122, 80, 0.7);
    }

    &:focus {
      box-shadow: 0 0 0 2px #FF6838;
    }
  }

  & .slick-active button {
    background-color: #FF7A50;
  }
}

.restorant-card {
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  background-color: $white;
  max-width: 370px;

  &:hover {
    box-shadow: 0 3px 15px rgba(255, 104, 56, 0.5)
  }

  @include r($phone) {
    margin-bottom: 30px;
  }

  &__box {
    padding: 20px;
    padding-top: 15px;
  }

  &__img {
    border-radius: 10px 10px 0 0;

    @include r($tablet-2) {
      width: 100%;
    }
  }

  &__name {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
    @include line-clamp(1);
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__time {
    padding-left: 32px;
    position: relative;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;

    &::after {
      @extend %pseudo;
      width: 22px;
      height: 22px;
      left: 0;
      @extend %background;
      background-image: url("../images/sprite.svg#icon-time");
    }
  }

  &__btn {
    border-radius: 20px;
    height: 33px;
    width: 79px;
    transition: transform 0.3s;

    @include r($tablet) {
      padding: 12px 32px;
    }

    &::after {
      @extend %pseudo;
      width: 14px;
      height: 12px;
      transform: translate(0px, -1px);
      filter: invert(100%) sepia(95%) saturate(2%) hue-rotate(288deg) brightness(107%) contrast(101%);
      @extend %background;
      transition: transform 0.3s;
      background-image: url("../images/sprite.svg#icon-row");
    }

    &:hover::after,
    &:focus::after,
    &:active::after {
      filter: invert(68%) sepia(57%) saturate(5754%) hue-rotate(336deg) brightness(102%) contrast(106%);
    }

    &:hover::after {
      transform: translate(10px, -1px);
    }
  }

}


.reviews {
  padding-bottom: 40px;

  @include r($phone) {
    padding-top: 25px;
  }

  &__title {
    text-align: center;
    margin-bottom: 45px;

    @include r($tablet) {
      margin-bottom: 30px;
    }
  }

  &__items {
    position: relative;
  }

  &__item {
    max-width: 990px;
    margin: 0 auto;
  }

  &__box {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 auto;

    @include r($phone) {
      flex-direction: column;
    }
  }

  &__img {
    border-radius: 50%;
    margin-right: 40px;

    @include r($tablet-2) {
      margin-right: 30px;
      width: 25%;
      height: 25%;
    }

    @include r($phone) {
      margin-bottom: 30px;
      margin-right: 0;
      width: 100px;
      height: 100px;
    }
  }

  &__content {
    padding: 0 40px;
  }

  &__slider {
    margin-bottom: 45px;

    @include r($phone) {
      margin-bottom: 0;
    }
  }

  &__text {
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 30px;
    font-style: italic;
    position: relative;

    &::after,
    &::before {
      @extend %background;
      @extend %pseudo;
      width: 24px;
      height: 20px;
      background-image: url("../images/sprite.svg#icon-quote-open");
      filter: invert(94%) sepia(0%) saturate(330%) hue-rotate(165deg) brightness(83%) contrast(94%);
    }

    &::before {
      top: 0;
      left: 0;
      transform: translateX(-40px);

      @include r($phone) {
        top: -10px;
        left: 6px;
      }
    }

    &::after {
      bottom: 0;
      right: 0;
      transform: translateX(40px) scale(-1, 1);

      @include r($phone) {
        bottom: 13px;
        right: 7px;
      }
    }

    @include r($tablet) {
      font-size: 18px;
      margin-bottom: 20px;
    }

    @include r($phone) {
      font-size: 14px;
    }
  }

  &__name {
    color: $orange;
    font-weight: 500;
    margin-bottom: 15px;

    @include r($tablet) {
      margin-bottom: 6px;
    }

    @include r($phone) {
      font-size: 16px;
    }
  }

  &__status {
    font-size: 14px;
    line-height: 130%;
  }

  &__btn-box {
    margin: 0 auto;
    max-width: 230px;

    @include r($phone) {
      max-width: 275px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: 0;
      right: 0;
      top: 33px;
    }
  }

  &__arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid $gray;
    padding-top: 5px;
    transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s;

    use {
      transition: fill 0.3s;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:hover {
      background-color: $lite-orange;
      border-color: #FFAE94;

      use {
        fill: #FFAE94;
      }
    }

    &:active {
      background-color: $lite-orange;
      border-color: $lite-orange;

      use {
        fill: $orange;
      }
    }
  }

  &__angle-arrow--next {
    transform: rotate(180deg);
  }

  & .slider__arrow--prev {
    margin-right: 145px;
    padding-right: 2px;

    @include r($phone) {
      margin: 0;
    }
  }

  & .slider__arrow--next {
    padding-left: 5px;
  }

  & .slick-dots {
    display: flex;
    font-size: 0;
    transform: translate(63px, -31px);

    @include r($phone) {
      display: none;
    }

    button {
      height: 15px;
      width: 15px;
      background-color: $gray;
      border-radius: 50%;
    }

    li {

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

  }

  & .slick-disabled {
    border: 3px solid #FF7A50;

    use {
      fill: #FF7A50;
    }
  }

  & .slick-dots button {
    transition: background-color 0.3s, box-shadow 0.3s;

    &:active {
      background-color: #FFAE94;
    }

    &:hover {
      background-color: #FFF2ED;
      box-shadow: 0 0 0 2px rgba(255, 122, 80, 0.7);
    }

    &:focus {
      box-shadow: 0 0 0 2px #FF6838;
    }
  }

  & .slick-active button {
    background-color: #FF7A50;
  }
}

.app {
  padding-bottom: 120px;
  margin-top: 8px;

  @include r($desktop) {
    padding-bottom: 90px;
  }

  @include r($tablet) {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 60px;
  }

  @include r($phone) {
    padding-bottom: 40px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 540px;
  }

  &__title {
    margin-bottom: 45px;

    @include r($tablet-2) {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin-bottom: 30px;
    line-height: 150%;
    @include line-clamp(5);

    @include r($tablet) {
      margin-bottom: 20px;
    }

    @include r($phone) {
      font-size: 14px;
      margin-bottom: 13px;
    }
  }

  &__links {
    display: flex;
  }

  &__link {
    width: 135px;
    height: 40px;

    &:not(:last-child) {
      margin-right: 20px;

      @include r($tablet) {
        margin-right: 15px;
      }
    }
  }

  &__box {
    display: block;
    @extend %background;
    width: 570px;
    height: 380px;

    @include r($tablet-2) {
      display: none;
    }
  }
}

.breadcrumbs {
  background-color: rgba(255, 122, 80, 0.1);
  margin-top: -5px;

  @include r($phone) {
    margin-bottom: 14px;
  }

  &__list {
    display: flex;
    padding: 24px 0;
    color: $dark-gray;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;

    @include r($phone) {
      padding: 30px 0;
    }
  }

  &__link {
    position: relative;
    padding: 6px 0px;
    margin: -6px 0;
    margin-right: 17px;


    &::after {
      @extend %pseudo;
      @extend %background;
      height: 10px;
      width: 7px;
      right: -13px;
      top: 8px;
      bottom: 3px;
      background-image: url("../images/sprite.svg#icon-angle-brackets");
      filter: invert(30%) sepia(52%) saturate(0%) hue-rotate(280deg) brightness(101%) contrast(92%);
      transform: rotate(180deg);
    }
  }
}

.catalog {

  @include r($phone) {
    margin-bottom: 20px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    @include r($tablet) {
      display: block;
      margin-bottom: 45px;
    }

    @include r($phone) {
      margin-bottom: 30px;
    }
  }

  &__title {
    @include r($tablet) {
      margin-bottom: 20px;
    }
  }

  &__top-filters {
    position: relative;
    display: flex;
    z-index: 0;
  }

  &__top-filter {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__filter-open {
    display: none;
    width: 47px;
    height: 47px;
    position: relative;
    background-color: #FAEDED;
    border-radius: 3px;

    @include r($tablet-2) {
      display: block;
    }

    &::after {
      @extend %pseudo;
      @extend %background;
      width: 32px;
      height: 36px;
      top: 5px;
      right: 8px;
      background-image: url("../images/sprite.svg#icon-filter");
      filter: invert(46%) sepia(26%) saturate(4934%) hue-rotate(336deg) brightness(100%) contrast(102%);
    }
  }

  .jq-selectbox__select,
  .jq-selectbox__dropdown ul {
    color: $dark;
    font-size: 14px;
    line-height: 120%;
    padding: 15px;
    padding-right: 41px;
    border: 1px solid $gray;
    border-radius: 3px;
    background-color: $white;
  }

  .jq-selectbox__select {
    transition: color 0.3s, border 0.3s;

    &:hover {
      color: $orange;
      border: 1px solid $orange;

      .jq-selectbox__trigger-arrow {
        filter: invert(54%) sepia(59%) saturate(1781%) hue-rotate(338deg) brightness(106%) contrast(101%);
      }
    }
  }

  .focused .jq-selectbox__select {
    border: 1px solid $orange;
  }

  .jq-selectbox__trigger-arrow {
    @extend %background;
    position: absolute;
    top: 20px;
    right: 15px;
    width: 6px;
    height: 11px;
    background-image: url("../images/sprite.svg#icon-angle-brackets");
    filter: invert(10%) sepia(1%) saturate(0%) hue-rotate(292deg) brightness(86%) contrast(94%);
    transform: rotate(270deg);
    transition: filter 0.3s;
  }

  .jq-selectbox__dropdown li {
    border: 1px solid $silver-100;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__right-filters {
    margin-right: 15px;

    @include r($tablet-2) {
      display: none;
    }
  }

  &__item {
    text-align: center;

    @include r($tablet-2) {
      display: block;

      &:nth-last-child(-n + 3) {
        display: none;
      }
    }

    @include r($tablet) {
      display: block;

      &:nth-last-child(-n + 6) {
        display: none;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 60px;

    @include r($tablet-2) {
      min-width: 100%;
      grid-template-columns: repeat(3, 1fr);
    }

    @include r($tablet) {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 45px;
    }

    @include r($phone) {
      margin-bottom: 30px;
    }
  }

  &__link-list {
    display: flex;

  }

  &__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .filter-category {
    padding-top: 25px;
    margin-bottom: 10px;

    &__label {
      display: block;
      font-size: 18px;
      line-height: 130%;
      letter-spacing: 0.03em;
      cursor: pointer;
      transition: color 0.3s;

      &:not(:last-child) {
        margin-bottom: 11px;
      }

      &--active {
        color: $orange;
      }

      &:hover {
        color: $orange;
      }

      &:focus .filter-category__text {
        box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      }

      &:active .filter-category__text {
        text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
      }
    }

    &__text {
      border-radius: 3px;
      transition: box-shadow 0.3s;
    }

    &__input {
      @extend %checkbox-hiden;
    }
  }

  .filter-offer {
    padding-top: 25px;

    &__label {
      display: block;
      padding-left: 22px;
      letter-spacing: 0.03em;
      font-size: 18px;
      line-height: 120%;
      transition: color 0.3s;

      &:not(:last-child) {
        margin-bottom: 14px;
      }

      &:hover {
        color: $orange;

        .filter-offer__span {
          border: 1px solid $orange;
        }
      }

      &:focus .filter-offer__span {
        border: 1px solid $orange;
      }
    }

    &__input {
      @extend %checkbox-hiden;

      &:checked+.filter-offer__span {
        @extend %background;
        border: 1px solid $dark-blue;
        background-image: url("../images/sprite.svg#icon-checked");
        background-size: 12px;
      }
    }

    &__span {
      width: 24px;
      height: 24px;
      border-radius: 3px;
      border: 1px solid #ECECEC;
      background-color: #FAEDED;
      position: absolute;
      margin-left: -36px;
      transition: border 0.3s;
    }
  }

  .filter-menu {
    &__filter {
      padding: 15px;
      border-radius: 5px;
      border: 1px solid $silver-200;
      max-width: 270px;
      background-color: $white;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__title {
      letter-spacing: 0.03em;
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      padding-bottom: 15px;
      border-bottom: 1px solid $silver-200;
    }
  }

  .filter-price {
    padding-top: 30px;

    &__controls {
      display: flex;
      justify-content: space-between;
    }

    &__filter {
      font-size: 16px;
      letter-spacing: 0.03em;
      width: 70px;
      height: 40px;
      text-align: center;
      border-radius: 3px;
      background-color: #FAEDED;
      border: 1px solid #FAEDED;
      transition: border-color 0.3s;

      &:focus {
        border-color: $orange;
      }
    }

    &__inner-from,
    &__inner-to {
      position: relative;
      padding-right: 14px;

      &::after,
      &::before {
        position: absolute;
        color: #C2C2C2;
        font-size: 16px;
      }

      &::after {
        content: "₴";
        width: 10px;
        height: 16px;
        right: 0;
        top: 9px;
      }

      &::before {
        height: 18px;
        left: 0;
        top: 9px;
      }
    }

    &__inner-from {
      padding-left: 22px;

      &::before {
        content: "от";
      }
    }

    &__inner-to {
      padding-left: 24px;

      &::before {
        content: "до";
      }
    }

    .irs-line {
      height: 2px;
      background-color: $gray;
    }

    .irs--round .irs-handle {
      border: none;
      background-color: $orange;
      box-shadow: none;
      border-radius: 50%;
      height: 18px;
      width: 18px;
      top: 28px;
    }

    .irs-bar {
      background-color: $orange;
      height: 2px;
    }

    .irs-from,
    .irs-to,
    .irs-max,
    .irs-min {
      display: none;
    }
  }

  .filter-mob {
    display: block;
    position: fixed;
    top: 0;
    left: -320px;
    transition: left .3s;
    z-index: 3;
    overflow-y: auto;
    padding-right: 50px;
    background-color: $white;
    padding-top: 20px;
    padding-bottom: 50px;

    &--active {
      left: 0;
    }


    &__filter-close {
      display: block;
      position: relative;
      height: 40px;
      width: 40px;
      border-radius: 3px;
      background-color: #FAEDED;
      margin-bottom: 20px;
      margin-left: auto;
      transform: translateX(30px);

      &::after {
        @extend %pseudo;
        @extend %background;
        width: 18px;
        height: 18px;
        top: 11px;
        left: 11px;
        background-image: url("../images/sprite.svg#icon-burger-menu-active");
      }

    }
  }
}

.pagination {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 7px;
    }

    &--hide {
      @include r($tablet) {
        display: none;
      }
    }
  }

  &__link {
    display: block;
    width: 47px;
    height: 47px;
    border: 1px solid #FAEDED;
    line-height: 48px;
    text-align: center;
    border-radius: 3px;
    background-color: #FAEDED;
    position: relative;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;

    &:hover {
      border-color: $orange;
      background-color: $orange;
      color: $white;

      &::after {
        filter: invert(100%);
      }
    }

    &:focus {
      border-color: #FAEDED;
      box-shadow: 0 0 0 2px $orange;
    }

    &:active {
      box-shadow: inset 0 -1px 4px 2px rgba(0, 0, 0, 0.15);
    }

    &--active {
      border: 1px solid $dark-blue;
    }

    &--next {
      transform: rotate(180deg);
    }

    &--pref,
    &--next {
      &::after {
        @extend %pseudo;
        @extend %background;
        background-image: url("../images/sprite.svg#icon-angle-brackets");
        width: 11px;
        height: 18px;
        transition: filter 0.3s;
      }
    }

    &--pref {
      &::after {
        top: 15px;
        left: 19px;
      }
    }

    &--next {
      &::after {
        top: 11px;
        left: 15px;
      }
    }

    &--block {
      &::after {
        filter: invert(82%) sepia(8%) saturate(2818%) hue-rotate(198deg) brightness(95%) contrast(84%);
      }
    }
  }
}

.promo {
  margin-bottom: 120px;

  @include r($tablet-2) {
    margin-bottom: 100px;
  }


  @include r($tablet) {
    margin-bottom: 60px;
  }

  @include r($phone) {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 60px;

    @include r($tablet) {
      margin-bottom: 40px;
      text-align: center;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @include r($tablet) {
      display: none;
    }
  }

  .restorant-card__name {
    @include line-clamp(5);
    white-space: normal;
    margin-bottom: 0;
  }

  &__slider {
    display: none;

    @include r($tablet) {
      display: block;
    }

    .restorant-card {
      margin: 0 auto;
      margin-bottom: 45px;
    }
  }

  & .slick-dots {
    display: flex;
    font-size: 0;
    justify-content: center;
    height: 100%;

    button {
      height: 15px;
      width: 15px;
      background-color: $gray;
      border-radius: 50%;
    }

    li {

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

  }

  & .slick-dots button {
    transition: background-color 0.3s, box-shadow 0.3s;

    &:active {
      background-color: #FFAE94;
    }

    &:hover {
      background-color: #FFF2ED;
      box-shadow: 0 0 0 2px rgba(255, 122, 80, 0.7);
    }

    &:focus {
      box-shadow: 0 0 0 2px #FF6838;
    }
  }

  & .slick-active button {
    background-color: #FF7A50;
  }
}

.footer {

  &__inner {
    display: flex;
    grid-column-gap: 70px;
    margin: 0;
    margin-bottom: 60px;

    @include r($desktop) {
      grid-column-gap: 30px;
      margin-bottom: 40px;
    }

    @include r($tablet-2) {
      flex-direction: column;
      grid-row-gap: 30px;
    }
  }

  &__copy {
    padding: 30px 0;
    border-top: 1px solid $silver-200;
    text-align: center;


    @include r($tablet) {
      padding: 20px 0;
    }

    @include r($phone) {
      padding: 13px 0;
    }
  }

  &__copy-text {
    font-size: 14px;
    line-height: 1;
  }

  &__list {
    display: grid;
    grid-template-columns: 153px 89px 187px;
    grid-gap: 0 70px;

    @include r($desktop) {
      grid-gap: 0 30px;
    }

    @include r($tablet-2) {
      grid-template-columns: 187px;
      order: 1;
    }
  }

  &__item {
    @include r($tablet-2) {
      grid-gap: 0 15px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.01em;
  }
}

.contacts {

  &__list {
    margin-bottom: 18px;
  }

  &__item {
    font-size: 16px;
    line-height: 200%;

    &:not(:last-child) {
      margin-bottom: 10px;

      @include r($phone) {
        margin-bottom: 15px
      }
    }
  }

  &__link {
    padding: 3px;
    padding-left: 31px;
    position: relative;
    font-size: 16px;
    line-height: 200%;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 9px;
      width: 24px;
      height: 24px;
      @extend %background;
    }

    @include r($tablet) {
      padding: 10px 0;
      padding-left: 31px;
      margin: -10px 0;

    }
  }


  &__address::before {
    background-image: url("../images/icons/icon-location.svg");
    top: 16px;
  }

  &__link--email::before {
    background-image: url("../images/icons/icon-message.svg");
  }

  &__link--phone::before {
    background-image: url("../images/icons/icon-сalling.svg");
  }

}

.social-icon {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__link {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: $silver-200;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, box-shadow 0.3s;

    & use {
      transition: fill 0.3s;
    }

    &:focus {
      background-color: $lite-orange;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:hover {
      background-color: $orange;
    }

    &:hover use {
      fill: $white;
    }

    &:active {
      background-color: $lite-orange;
    }

    &:active use {
      fill: $orange;
    }
  }
}

.form-subscribe {
  margin-top: 26px;

  &__input {
    max-width: 200px;
    border-radius: 5px;
    margin-bottom: 12px;
    background: $white;
    border: 1px solid $gray;
    padding: 13px 15px;
    @extend %paragraph-14;
    line-height: 130%;
    transition: border 0.3s, box-shadow 0.3s;

    &::placeholder {
      transition: color 0.3s;
    }

    &:focus {
      box-shadow: 0 0 0 2px $orange;
    }


    &:hover::placeholder {
      color: #363853;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 10px 38px;
    line-height: 130%;
    font-size: 14px;
    font-weight: 500;

    &:focus use,
    &:hover use,
    &:active use {
      fill: $orange;
    }

    svg {
      margin-right: 15px;
    }

    @include r($phone) {
      padding: 14px 38px;
    }
  }
}