<section class="hero section">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__content">
        <h2 class="hero__title">
          Доставка <span>за 15 минут</span>
        </h2>
        <p class="hero__text">
          Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за наш счёт
        </p>
        <a class="btn hero__btn">
          Заказать
        </a>
        <a class="link hero__link" href="#">
          Подробнее
        </a>
      </div>
      <div class="hero__box" style="background-image: url('images/hero-bg.png');">
      </div>
    </div>
  </div>
</section>