<section class="restorant section">
  <div class="container">
    <h2 class="title restorant__title">
      Лучшие рестораны
    </h2>
    <div class="restorant__inner">
      <article class="restorant-card__card">
        <img class="restorant-card__img" src="images/restorant/1.jpg" alt="Blaze Pizza" width="370" height="300">
        <div class="restorant-card__box">
          <h4 class="restorant-card__name">
            Blaze Pizza
          </h4>
          <div class="restorant-card__bottom">
            <time class="restorant-card__time">
              11:00 - 22:00
            </time>
            <a class="restorant-card__btn btn">
              <span class="sr-only">
                Читать далее
              </span>
            </a>
          </div>
        </div>
      </article>
      <article class="restorant-card__card">
        <img class="restorant-card__img" src="images/restorant/2.jpg" alt="Pizza Runcho" width="370" height="300">
        <div class="restorant-card__box">
          <h4 class="restorant-card__name">
            Pizza Runcho
          </h4>
          <div class="restorant-card__bottom">
            <time class="restorant-card__time">
              12:00 - 21:00
            </time>
            <a class="restorant-card__btn btn">
              <span class="sr-only">
                Читать далее
              </span>
            </a>
          </div>
        </div>
      </article>
      <article class="restorant-card__card">
        <img class="restorant-card__img" src="images/restorant/3.jpg" alt="Pizza Hut" width="370" height="300">
        <div class="restorant-card__box">
          <h4 class="restorant-card__name">
            Pizza Hut
          </h4>
          <div class="restorant-card__bottom">
            <time class="restorant-card__time">
              11:00 - 22:00
            </time>
            <a class="restorant-card__btn btn">
              <span class="sr-only">
                Читать далее
              </span>
            </a>
          </div>
        </div>
      </article>
      <article class="restorant-card__card">
        <img class="restorant-card__img" src="images/restorant/4.jpg" alt="McDonald`s" width="370" height="300">
        <div class="restorant-card__box">
          <h4 class="restorant-card__name">
            McDonald`s
          </h4>
          <div class="restorant-card__bottom">
            <time class="restorant-card__time">
              06:00 - 23:00
            </time>
            <a class="restorant-card__btn btn">
              <span class="sr-only">
                Читать далее
              </span>
            </a>
          </div>
        </div>
      </article>
      <article class="restorant-card__card">
        <img class="restorant-card__img" src="images/restorant/5.jpg" alt="KFC" width="370" height="300">
        <div class="restorant-card__box">
          <h4 class="restorant-card__name">
            KFC
          </h4>
          <div class="restorant-card__bottom">
            <time class="restorant-card__time">
              06:00 - 23:30
            </time>
            <a class="restorant-card__btn btn"></a>
          </div>
        </div>
      </article>
      <article class="restorant-card__card">
        <img class="restorant-card__img" src="images/restorant/6.jpg" alt="Star Burgers" width="370" height="300">
        <div class="restorant-card__box">
          <h4 class="restorant-card__name">
            Star Burgers
          </h4>
          <div class="restorant-card__bottom">
            <time class="restorant-card__time">
              09:00 - 21:00
            </time>
            <a class="restorant-card__btn btn">
              <span class="sr-only">
                Читать далее
              </span>
            </a>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>